.cart-container{
    width: 100%;
    margin-top: 100px;
    padding: 0 10px;
    margin-left: 130px;
}

.cart-details{
    width: 75%;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.display-cart{
    align-items: center;
    background-color: #efef52;
    padding: 15px 20px;
}

.cart-image{
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.cart-product-name{
    margin: 0 45px;
    width: 150px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}
.cart-product-price{
    width: 120px;
    padding: 0 70px;
    text-align: center;
    font-weight: bold;

}

.inc,.dec{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.product-quantity{
    padding: 0 15px;
    font-size: 15px;
    width: 70px;
    text-align: center;
}

.product-total-price{
    width: 150px;
    padding: 0 90px;
    text-align: center;
}
.delete-product{
    border: none;
    color: red;
    cursor: pointer;
    height: 20px;
}