

.navbar{
    background-color: #c6d8eb;
    padding: 10px 60px;
    height: 70px;
}

.title_img{
    height: 40px;
}


.cart{
    float: right;
    /* background-color: #d6dee6; */
    font-size: 15px;
    width: 50px;;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
}

.cart_img{
    height: 25px;
    width: 30px;
    margin-left: 5px;
}

.total_item{
    color: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    margin-left: 12px;
    margin-top: 4px;
}